[{:itonami.blueprint/social-impact [:diver-safety :worker-safety :public-safety], :itonami.blueprint/domain :maritime/underwater-dive-operation-scheduling-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "7541", :itonami.blueprint/name "Underwater Dive Operation Scheduling & Logistics Coordination Service", :itonami.blueprint/governor :dive-coord-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-7541", :itonami.blueprint/license "AGPL-3.0-or-later"}]
